.navbar {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

/* LIGHT MODE (hero pages) */
.navLight {
    background: transparent;
}

.navLight a {
    color: white;
}

.navLight .logo {
    border: 2px solid white;
}

.navDark {
    background: white;
}

.navDark a {
    color: black;
}

.navDark .logo {
    border: 2px solid black;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
    align-items: center;
}


.navLinks li {
    margin: 0;
    padding: 0;
}

.navLinks a {
    text-decoration: none;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 1.1;
}

.navLinks a:hover {
    text-decoration: underline;
}