@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

.header {
  background-color: white;
  margin-top: 70px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: black;
}

.line {
    width: 180px;
    height: 2px;
    background-color: black;
    margin: 10px auto 20px auto;
    opacity: 0.6;
}


.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  max-width: 1000px;
  margin: 0;
  text-align: center;
}

.titleBox {
  background-color: white;
  margin-right: 10%;
  padding: 30px 60px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.titleBox h1 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 58px;
}

.projectsSection {
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-family: "Poppins", sans-serif;
}
.project {
  display: flex;
  align-items: center;
  gap: 40px;
}

.reverse {
  flex-direction: row-reverse;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.image {
  width: 540px;
  height: 540px;
  object-fit: cover;
}

.text h2 {
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}


.learnMore {
  display: inline-block;
  margin-top: 20px;
  color: #00274C;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s ease;
}

.learnMore:hover {
  color: #0056b3;
  text-decoration: underline;
}